 body {
  background-color: #e9ff96;
  padding: 10px;
  font-family: 'Varela Round', sans-serif;
}

.main-column-layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.clothing-components-layout {
  max-width: 90%;
}

/* Navbar Design */

/* navbar-container is in parent component */
.navbar-container {
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 2;
}

.navbar-element-container {
  display: flex;
  align-items: center;
  flex-direction: space-evenly;
  width: 100%;
}

.navbar {
  display: flex;
  justify-content: space-evenly;
  background-color: hsl(105, 67%, 67%);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  border-radius: 8px;
  height: 100px;
  padding: 10px;
}

.navbar-buttons-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.navbar-menu {
  list-style-type: none;
}

.navbar-button-user-open-icon {
  background-color: #62ef5e;
  color: black;
  border: 1px solid black;
  border-radius: 14px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3); 
}

.user-open-icon-open {
  height: 20px;
  width: 20px;
}

.navbar-open-icon {
height: 20px;
width: 20px;
}

.navbar-button-open {
  z-index: 1;
  width: 33px;
  background-color: #62ef5e;
  color: black;
  border: 1px solid black;
  border-radius: 14px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3); 
}

.user-open-icon-closed {
  height: 20px;
  width: 20px;
}

.logo-menu-box {
  display: flex;
  flex-direction: column;
}

.menu-open-container {
  display: flex;
  flex-direction: column;
}

.logo-closed-container {
  font-size: 12px;
  cursor: pointer;
  border: none;
  transition: background-color 0.3s ease;
  background-color: hsl(105, 67%, 67%);
  box-shadow: none;
}

.logo-sizing {
  display: flex;
  flex-direction: column;
  align-items: middle;
  justify-content: center;
  height: 75px;
  width: auto;
  padding: 5px;
  border-style: none;
}

.navbar-button {
  background-color: #50C878;
  color: black;
  border: 1px solid black;
  border-radius: 14px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3); 
}

.navbar-button:hover {
  background-color: #228B22;
  color: black;
}

/* Login Modal */

.login-modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.login-modal-content {
  background-color: #f9f9f9;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  width: 300px;
}

.login-header {
  margin-top: 0;
}

.login-form-button:hover{
  background-color: #228B22;
  color: black;
}

.login-label {
  margin-bottom: 5px;
}

.login-input {
  width: 100%;
  padding: 5px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.login-button {
  display: block;
  padding: 5px 10px;
  background-color: #50C878;
  color: black;
  border: 1px solid black;
  border-radius: 14px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3); 
}

.login-button:hover {
  background-color: #228B22;
  color: black;
}

.login-form-group {
  margin-bottom: 10px;
}

.login-form-button {
  font-size: 12px;
  padding: 5px 10px;
  margin: 5px;
  background-color: #50C878;
  color: black;
  border: 1px solid black;
  border-radius: 14px;
  width: 83px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3); 
}

.login-form-button:hover {
  background-color: #228B22;
  color: black;
}

.login-close-button {
  font-size: 12px;
  display: block;
  width: 83px;
  margin-top: 10px;
  padding: 5px 10px;
  background-color: #50C878;
  color: black;
  border: 1px solid black;
  border-radius: 14px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3); 
}

.login-close-button:hover {
  background-color: #228B22;
  color: black;
}

/* Register Modal */

.registration-modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.registration-modal-content {
  background-color: #f9f9f9;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  width: 300px;
}

.registration-header {
  margin-top: 0;
}

.registration-form-group {
  margin-bottom: 10px;
}

.registration-label {
  margin-bottom: 5px;
}

.registration-input {
  width: 100%;
  padding: 5px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.registration-submit-button {
  display: block;
  margin: 5px;
  margin-top: 10px;
  padding: 5px 10px;
  background-color: #50C878;
  color: black;
  border: 1px solid black;
  border-radius: 14px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3); 
}

.registration-submit-button:hover {
  background-color: #228B22;
}

.registration-close-button {
  display: block;
  margin: 5px;
  width: 71px;
  margin-top: 10px;
  padding: 5px 10px;
  background-color: #50C878;
  color: black;
  border: 1px solid black;
  border-radius: 14px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3); 
}

.registration-close-button:hover {
  background-color: #228B22;
  color: black;
}

/* Image Uploader Component */


.image-uploader-navbar-container {
  display: flex;
}

.upload-component-container {
  display: flex;
}

.upload-container {
  display: flex;
  height: 50px;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  background-color: #fbfbfb;
}

.choose-file {
  display: flex;
  justify-content: center;
  align-items: middle;
  font-size: 12px;
  font-weight: bold;
  background-color: #50C878;
  color: black;
  border: 1px solid black;
  border-radius: 14px;
  width: 80px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3); 
}
.choose-file:hover {
  background-color: #228B22;
  color: black;
}

.upload-heading{
  font-size: 16px;
}

.image-uploader-container {
  margin-left:20px;
}



.select-options-bar {
  margin-left: 10px;
}



input[type="file"] {
    display: none;
}
.classify-button {
  margin: 5px;
  margin-top: 10px;
  padding: 5px 16px;
  background-color: #50C878;
  color: black;
  border: 1px solid black;
  border-radius: 14px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3); 
}
.classify-button:hover {
  background-color: #228B22;
  color: black;
}

.upload-selected-image-container {
  height: 150px;
  width: auto;
  margin: 20px;
  padding: 10px;
  background-color: #f9f9f9;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: transform 0.3s ease;
  border-radius: 8px;
}

.upload-selected-image {
  height: 140px;
  width: auto;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.preview-modal-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999; 
}

.preview-image-modal {
  background-color: #f9f9f9;
  padding: 20px;  
  background-color: 0 2px 4px rgba(0, 0, 0, 0.5);
}

.preview-image-modal-content {
  background-color: #f9f9f9;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.preview-image-modal-image {
  height: 250px;
  width: auto;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.preview-image-close-button {
  display: block;
  margin: 5px;
  width: 83px;
  margin-top: 0px;
  padding: 5px 10px;
  background-color: #50C878;
  color: black;
  border: 1px solid black;
  border-radius: 14px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3); 
}

.preview-image-close-button:hover {
  background-color: #228B22;
  color: black;
}


/* Outfit View Component */

.outfit-view-container {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 160px;
}

.outfit-main-title {
  font-size: 24px;
  font-family: 'Varela Round', sans-serif;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.3); 
}

.outfit-view-main {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.remove-outfit-button {
  margin: 5px;
  margin-top: 10px;
  padding: 5px 10px;
  background-color: #50C878;
  color: black;
  border: 1px solid black;
  border-radius: 14px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3); 
}

.remove-outfit-button:hover {
  background-color: #228B22;
  color: black;
}

.accessory-view {
  display: flex;
  flex-direction: row;
}

.outfit-item-card {
  width: 100px;
  height: 170px;
  margin: 5px;
  padding: 10px;
  border-radius: 14px;
  background-color: #f9f9f9;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  text-align: center;
}

.outfit-item-card:hover {
  transform: translateY(-5px);
}


.outfit-item-category-title {
  font-size: 12px;
  color: black;
}

.empty-message {
  margin-top: 20px;
  text-align: center;
  color: gray;
}

.outfit-image-wrapper {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

.outfit-image {
  width: auto;
  height: 100px;
  border-radius: 8px;
}

.item-info {
  margin-top: 10px;
}

button {
  margin-top: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3); 
}

/* SavedOutfit Component */

.saved-outfit-view-container {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 160px;
}


.saved-outfit-view-main {
  display: flex;
  flex-direction: flex≈;
  justify-content: flex-start;
}


.saved-outfit-item-card {
  width: 100px;
  height: 170px;
  margin: 5px;
  padding: 10px;
  border-radius: 14px;
  background-color: #f9f9f9;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  text-align: center;
}


.saved-outfit-item-category-title {
  font-size: 12px;
  color: black;
}

.saved-outfit-main-title {
  font-size: 24px;
  font-family: 'Varela Round', sans-serif;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.3); 
}


.remove-saved-outfit-button {
  margin: 5px;
  margin-top: 10px;
  padding: 5px 10px;
  background-color: #50C878;
  color: black;
  border: 1px solid black;
  border-radius: 14px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3); 
}

.remove-saved-outfit-button:hover {
  background-color: #228B22;
  color: black;
}


.saved-outfit-item-card:hover {
  transform: translateY(-5px);
}


.saved-outfit-image-wrapper {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}




/* ClosetView Component */

.closet-inner-container {
  display: grid;
  grid-template-columns: 1fr auto;  
  grid-gap: 10px;
  width: 100%;
  margin-top: 20px;
  width: 100%;
  height: 100%;
}

.small-column {
  background-color: #a4e333;
  padding: 10px; 
}

.large-column {
  background-color: #f0f0f0; 
  padding: 10px; 
}


.sticky-container {
  display: flex;
  flex-direction: col;
  position: sticky;
  top: 10px;
  z-index: 1; 
}

.closet-view {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 16px;
  overflow-y: auto;
} 

.navbar-extended-buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: middle;
  padding:6px;
}

.view-wardrobe-button {
  display: flex;
  justify-content: center;
  background-color: #50C878;
  border-radius: 40px;
  font-size: small;
}

.view-wardrobe-button:hover {
  background-color: #127032;
  cursor: pointer;
}

.view-outfit-button {
  display: flex;
  justify-content: center;
  background-color: #50C878;
  border-radius: 40px;
  font-size: small;
}

.view-outfit-button:hover {
  background-color: #127032;
  cursor: pointer;
}

/* Cards */

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: auto;
  height: 350px;
  width: 280px;
  margin: 30px;
  padding: 10px;
  background-color: #f9f9f9;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: transform 0.3s ease;
  border-radius: 8px; 
}

.card-image {
  align-items: center;
  justify-content: center;
  width: auto;
  height: auto;
  max-width: 250px;
  max-height: 275px;
  z-index: 0;
  border-radius: 8px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1); 
}

.card-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card-buttons-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.category-buttons-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 5px;
  background-color: #a4e333;
  position: sticky;
  top: 0;
  border: 1px solid black;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3); 
}

.category-button {
  padding: 5 5px;
  margin: 5px;
  background-color: #50C878;
  color: black;
  border: 1px solid black;
  border-radius: 14px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3); 
}

.category-button:hover {
  background-color: #228B22;
  border-color: black;
}

.closet-categories-button {
  cursor: pointer;
  background-color: #19b492;
  border-radius: 24px;
  border-style: solid;
  border-color: #333;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3); 
}

.delete-button {
  display: block;
  margin: 5px;
  margin-top: 10px;
  padding: 5px 10px;
  background-color: #50C878;
  color: black;
  border: 1px solid black;
  border-radius: 14px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3); 
}

.delete-button:hover {
  background-color: #228B22;
  color: black;
}

.edit-button {
  display: block;
  margin: 5px;
  margin-top: 10px;
  padding: 5px 10px;
  background-color: #50C878;
  color: black;
  border: 1px solid black;
  border-radius: 14px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3); 
}

.edit-button:hover {
  background-color: #228B22;
  color: black;
}

.select-button {
  display: block;
  margin: 5px;
  margin-top: 10px;
  padding: 5px 10px;
  background-color: #50C878;
  color: black;
  border: 1px solid black;
  border-radius: 14px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3); 
}

.select-button:hover {
  background-color: #228B22;
  border-color: black;
}

.card-tab-open {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: auto;
  min-width: 220px;
  height: 210px;
  margin: 20px;
  padding: 5px;
  background-color: #f9f9f9;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: transform 0.3s ease;
  border-radius: 40px; 
}

.card-tab-open img {
  height: 160px;
  border-radius: 20px; 
  margin-top: 60px;
}

.card-tab-open button {
  width: 60px
}

.card:hover {
  transform: translateY(-5px);
}


.card-buttons-container-tab-open {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}

/* Edit modal */

.category-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.edit-category-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999; 
}

.edit-category {
  display: flex;
  flex-direction: column;
  background-color: #f9f9f9;
  justify-content: center;
  align-items: center;
  height: 200px;
  width: 300px;
  padding: 20px;  
  border-radius: 10px;
  background-color: 0 2px 4px rgba(0, 0, 0, 0.5);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.edit-modal-button-container {
  flex-direction: row;
}

.edit-modal-button {
  margin: 5px;
  width: 83px;
  margin-top: 10px;
  padding: 5px 10px;
  background-color: #50C878;
  color: black;
  border: 1px solid black;
  border-radius: 14px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3); 
}

.image-category {
  margin-top: -10px;
  font-size: 14px;
  color: black;
  padding: 5px;
}

/* Image Modal */

.modal-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999; 
}

.image-modal {
  display: flex;
  justify-content: center;
  background-color: rgb(112, 212, 112);
  padding: 8px;  
  background-color: 0 2px 4px rgba(0, 0, 0, 0.5);
  border-radius: 18px;
}

.image-modal-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #f9f9f9;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.image-modal-content-container {
  display: flex;
  justify-content: center;
}

.image-modal-image {
  display: flex;
  justify-content: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.image-modal-buttons {
  display: flex;
  flex-direction: flex-row;
  justify-content: center;
  align-items: middle;
  padding-bottom: 4px;
}

.image-header {
  margin-top: 0;
}

.image-close-button {
  display: block;
  margin: 5px;
  width: 83px;
  margin-top: 10px;
  padding: 5px 10px;
  background-color: #50C878;
  color: black;
  border: 1px solid black;
  border-radius: 14px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3); 
}

.image-close-button:hover {
  background-color: #228B22;
  color: black;
}

.detail-view{
  display: flex;
  background-color:rgb(150, 223, 150);
  padding: 2px;
  border-radius: 16px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3); 
}

.detail-view p {
  padding: 6px;
}

/* Wardrobe */
.wardrobe-view-main {
  display: flex;
  flex-direction: column;
  margin-bottom: 60px;
}

.wardrobe-outfit-name {
  display: flex;
}

.wardrobe-view-body {
  display: flex;
  flex-direction: column;
}

.wardrobe-heading {
  display: flex;
}



.wardrobe-list-container {
  display: flex;
  flex-direction: row;
  list-style-type: none;
}

.wardrobe-outfit-item-container {
  display: flex;
  flex-direction: row;
  padding: 8px;
}

.wardrobe-item-card-container {
  display: flex;
  flex-direction: row;
  padding: 8px;
  margin-bottom: 10px;
}


.wardrobe-list-itemIndex {
  background-color: rgb(204, 255, 200);
  display: flex;
  flex-direction: column;
  padding: 20px;
  border-style: solid;
  border-width: 2px;
  border-color: #1a6902;
  border-radius: 20px;
  margin-right: 6px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3); 
}

.wardrobe-list-itemIndex:hover {
  cursor: pointer;
  background-color: rgb(119, 236, 111);
  display: flex;
  flex-direction: column;
  padding: 20px;
  border-style: solid;
  border-width: 2px;
  border-color: #1a6902;
  border-radius: 20px;
  margin-right: 6px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3); 
}

.wardrobe-item-card {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 16px;
  border-radius: 20px;
  height: 300;
  width: auto;
  position: relative;
  z-index: 1;
}

.wardrobe-item-card img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
}

.wardrobe-item-card button {
  background-color: #009744;
  color: #fff;
  border: none;
  padding: 8px 16px;
  cursor: pointer;
}

.wardrobe-item-card button:hover {
  background-color: #51d28b;
  color: #000000;
  border: none;
  padding: 8px 16px;
  cursor: pointer;
}

/* SlideUpTab */

.slide-up-tab {
  position: fixed;
  bottom: 10px; 
  left: 0;
  width: 100%;
  background-color: #ffffff;
  transition: transform 0.3s ease-in-out;
  z-index: 1; 
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  transform: translateY(87%);
}

.tab-view-buttons-container {
  padding: 4px;
}

.tab-button {
  width: 65%;
  padding: 10px;
  background-color: #50C878;
  color: black;
  border: none;
  cursor: pointer;
  outline: none;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5); 
}

.save-outfit {
  width: 30%;
  margin-left: 6px;
  padding: 10px;
  border-radius: 20px;
  background-color: hsl(105, 67%, 67%);
  color: black;
  border: none;
  cursor: pointer;
  outline: none;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  transition: background-color 0.3s ease;
}

.save-outfit:hover {
  background-color: hsl(304, 54%, 80%);
}

.tab-content {
  overflow: auto;
  padding: 10px;
}

.slide-up-tab.open {
  transform: translateY(10%); 
}