 body {
  background-color: #e9ff96;
  padding: 10px;
  font-family: 'Varela Round', sans-serif;
}

.main-column-layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.clothing-components-layout {
  max-width: 90%;
}

/* Navbar Design */


.navbar-container {
  display: flex;  
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 2;
}

.navbar {
  background-color: #a4e333;
  width: 100%;
  height: 120px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5); 
  border-radius: 8px; 
}

.navbar-menu {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style-type: none;
  height: 100%; 
}

.navbar-buttons-container {
  display: flex;
  flex-direction: column;
  padding: 5px
}

.logo-sizing {
  height: 100px;
  width: auto;
  padding: 5px;
}

.navbar-button {
  font-size: 12px;
  padding: 5px 10px;
  background-color: #50C878;
  color: black;
  border: 1px solid black;
  border-radius: 14px;
  width: 70px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3); 
}

.navbar-button:hover {
  background-color: #228B22;
  color: black;
}

/* Login Modal */

.login-modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.login-modal-content {
  background-color: #f9f9f9;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  width: 300px;
}

.login-header {
  margin-top: 0;
}

.login-form-button:hover{
  background-color: #228B22;
  color: black;
}

.login-label {
  margin-bottom: 5px;
}

.login-input {
  width: 100%;
  padding: 5px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.login-button {
  display: block;
  padding: 5px 10px;
  background-color: #50C878;
  color: black;
  border: 1px solid black;
  border-radius: 14px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3); 
}

.login-button:hover {
  background-color: #228B22;
  color: black;
}

.login-form-group {
  margin-bottom: 10px;
}

.login-form-button {
  font-size: 12px;
  padding: 5px 10px;
  margin: 5px;
  background-color: #50C878;
  color: black;
  border: 1px solid black;
  border-radius: 14px;
  width: 83px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3); 
}

.login-form-button:hover {
  background-color: #228B22;
  color: black;
}

.login-close-button {
  font-size: 12px;
  display: block;
  width: 83px;
  margin-top: 10px;
  padding: 5px 10px;
  background-color: #50C878;
  color: black;
  border: 1px solid black;
  border-radius: 14px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3); 
}

.login-close-button:hover {
  background-color: #228B22;
  color: black;
}

/* Register Modal */

.registration-modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.registration-modal-content {
  background-color: #f9f9f9;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  width: 300px;
}

.registration-header {
  margin-top: 0;
}

.registration-form-group {
  margin-bottom: 10px;
}

.registration-label {
  margin-bottom: 5px;
}

.registration-input {
  width: 100%;
  padding: 5px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.registration-submit-button {
  display: block;
  margin: 5px;
  margin-top: 10px;
  padding: 5px 10px;
  background-color: #50C878;
  color: black;
  border: 1px solid black;
  border-radius: 14px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3); 
}

.registration-submit-button:hover {
  background-color: #228B22;
}

.registration-close-button {
  display: block;
  margin: 5px;
  width: 71px;
  margin-top: 10px;
  padding: 5px 10px;
  background-color: #50C878;
  color: black;
  border: 1px solid black;
  border-radius: 14px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3); 
}

.registration-close-button:hover {
  background-color: #228B22;
  color: black;
}

/* Image Uploader Component */


.upload-heading{
  font-size: 16px;
}

.image-uploader-container {
  margin-left:20px;
}

.upload-component-container {
  display: flex;
  flex-direction: column;
  margin-top: .5px;
}

.upload-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  height: 90px;
  width: 150px;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  background-color: #fbfbfb;
}

.upload-buttons-container {
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
}

.select-options-bar {
  margin-left: 10px;
}

.choose-file {
  margin-bottom: 10px;
  font-size: 14px;
  padding: 5px 16px;
  background-color: #50C878;
  color: black;
  border: 1px solid black;
  border-radius: 14px;
  width: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3); 
}
.choose-file:hover {
  background-color: #228B22;
  color: black;
}

input[type="file"] {
    display: none;
}
.classify-button {
  margin: 5px;
  margin-top: 10px;
  padding: 5px 16px;
  background-color: #50C878;
  color: black;
  border: 1px solid black;
  border-radius: 14px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3); 
}
.classify-button:hover {
  background-color: #228B22;
  color: black;
}

.upload-selected-image-container {
  height: 150px;
  width: auto;
  margin: 20px;
  padding: 10px;
  background-color: #f9f9f9;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: transform 0.3s ease;
  border-radius: 8px;
}

.upload-selected-image {
  height: 140px;
  width: auto;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.preview-modal-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999; 
}

.preview-image-modal {
  background-color: #f9f9f9;
  padding: 20px;  
  background-color: 0 2px 4px rgba(0, 0, 0, 0.5);
}

.preview-image-modal-content {
  background-color: #f9f9f9;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.preview-image-modal-image {
  height: 250px;
  width: auto;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.preview-image-close-button {
  display: block;
  margin: 5px;
  width: 83px;
  margin-top: 0px;
  padding: 5px 10px;
  background-color: #50C878;
  color: black;
  border: 1px solid black;
  border-radius: 14px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3); 
}

.preview-image-close-button:hover {
  background-color: #228B22;
  color: black;
}


/* Outfit View Component */

.outfit-view-container {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 160px;
}

.outfit-main-title {
  font-size: 24px;
  font-family: 'Varela Round', sans-serif;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.3); 
}

.outfit-view-main {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.remove-outfit-button {
  margin: 5px;
  margin-top: 10px;
  padding: 5px 10px;
  background-color: #50C878;
  color: black;
  border: 1px solid black;
  border-radius: 14px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3); 
}

.remove-outfit-button:hover {
  background-color: #228B22;
  color: black;
}

.accessory-view {
  display: flex;
  flex-direction: row;
}

.outfit-item-card {
  width: 100px;
  height: 170px;
  margin: 5px;
  padding: 10px;
  border-radius: 14px;
  background-color: #f9f9f9;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  text-align: center;
}

.outfit-item-card:hover {
  transform: translateY(-5px);
}


.outfit-item-category-title {
  font-size: 12px;
  color: black;
}

.empty-message {
  margin-top: 20px;
  text-align: center;
  color: gray;
}

.outfit-image-wrapper {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

.outfit-image {
  width: auto;
  height: 100px;
  border-radius: 8px;
}

.item-info {
  margin-top: 10px;
}

button {
  margin-top: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3); 
}

/* ClosetView Component */

.closet-inner-container {
  display: flex;
  flex-direction: column;
  flex: auto;
  width: 100%;
  height: 100%;
}

.sticky-container {
  position: sticky;
  top: 10px;
  z-index: 1; 
}

.closet-view {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 16px;
  flex-grow: 1;
  overflow-y: auto;
} 

/* Cards */

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: auto;
  height: 350px;
  width: 280px;
  margin: 30px;
  padding: 10px;
  background-color: #f9f9f9;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: transform 0.3s ease;
  border-radius: 8px; 
}

.card-image {
  align-items: center;
  justify-content: center;
  width: auto;
  height: auto;
  max-width: 250px;
  max-height: 275px;
  z-index: 0;
  border-radius: 8px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1); 
}

.card-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card-buttons-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.category-buttons-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 5px;
  background-color: #a4e333;
  position: sticky;
  top: 0;
  border: 1px solid black;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3); 
}

.category-button {
  padding: 5 5px;
  margin: 5px;
  background-color: #50C878;
  color: black;
  border: 1px solid black;
  border-radius: 14px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3); 

}

.category-button:hover {
  background-color: #228B22;
  border-color: black;
}

.delete-button {
  display: block;
  margin: 5px;
  margin-top: 10px;
  padding: 5px 10px;
  background-color: #50C878;
  color: black;
  border: 1px solid black;
  border-radius: 14px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3); 
}

.delete-button:hover {
  background-color: #228B22;
  color: black;
}

.edit-button {
  display: block;
  margin: 5px;
  margin-top: 10px;
  padding: 5px 10px;
  background-color: #50C878;
  color: black;
  border: 1px solid black;
  border-radius: 14px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3); 
}

.edit-button:hover {
  background-color: #228B22;
  color: black;
}

.select-button {
  display: block;
  margin: 5px;
  margin-top: 10px;
  padding: 5px 10px;
  background-color: #50C878;
  color: black;
  border: 1px solid black;
  border-radius: 14px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3); 
}

.select-button:hover {
  background-color: #228B22;
  border-color: black;
}

.card-tab-open {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: auto;
  min-width: 220px;
  height: 210px;
  margin: 20px;
  padding: 5px;
  background-color: #f9f9f9;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: transform 0.3s ease;
  border-radius: 40px; 
}

.card-tab-open img {
  height: 160px;
  border-radius: 20px; 
  margin-top: 60px;
}

.card-tab-open button {
  width: 60px
}

.card:hover {
  transform: translateY(-5px);
}


.card-buttons-container-tab-open {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}

/* Edit modal */

.category-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.edit-category-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999; 
}

.edit-category {
  display: flex;
  flex-direction: column;
  background-color: #f9f9f9;
  justify-content: center;
  align-items: center;
  height: 200px;
  width: 300px;
  padding: 20px;  
  border-radius: 10px;
  background-color: 0 2px 4px rgba(0, 0, 0, 0.5);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.edit-modal-button-container {
  flex-direction: row;
}

.edit-modal-button {
  margin: 5px;
  width: 83px;
  margin-top: 10px;
  padding: 5px 10px;
  background-color: #50C878;
  color: black;
  border: 1px solid black;
  border-radius: 14px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3); 
}

.image-category {
  margin-top: -10px;
  font-size: 14px;
  color: black;
  padding: 5px;
}

/* Image Modal */

.modal-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999; 
}

.image-modal {
  background-color: #f9f9f9;
  padding: 20px;  
  background-color: 0 2px 4px rgba(0, 0, 0, 0.5);
}

.image-modal-content {
  background-color: #f9f9f9;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.image-modal-image {
  height: 250px;
  width: auto;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.image-header {
  margin-top: 0;
}

.image-close-button {
  display: block;
  margin: 5px;
  width: 83px;
  margin-top: 10px;
  padding: 5px 10px;
  background-color: #50C878;
  color: black;
  border: 1px solid black;
  border-radius: 14px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3); 
}

.image-close-button:hover {
  background-color: #228B22;
  color: black;
}

/* SlideUpTab */

.slide-up-tab {
  position: fixed;
  bottom: 10px; 
  left: 0;
  width: 100%;
  background-color: #ffffff;
  transition: transform 0.3s ease-in-out;
  z-index: 1; 
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  transform: translateY(87%);
}

.tab-button {
  width: 100%;
  padding: 10px;
  background-color: #50C878;
  color: black;
  border: none;
  cursor: pointer;
  outline: none;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5); 
}

.tab-content {
  overflow: auto;
  padding: 10px;
}

.slide-up-tab.open {
  transform: translateY(10%); 
}


@media screen and (max-width: 600px) {

  .logo-sizing {
    height: 80px;
    padding: 0px;
  }
}